.wrapper {
    height: 100%;
    width: 100%;

    background-color: white;

    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-rows: 770px;
    grid-template-columns: 60px repeat(7, 1fr) 20px;

    width: 100%;

    overflow-y: scroll;

    /* Internet Explorer 10+ */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
}

$quarterHeight: 19.75px;

.displayHours {
    margin-top: 70px;
}

.displayHoursHide {
    position: fixed;
    height: 70px;
    width: 60px;

    background-color: white;
}

.displayHour {
    height: 80px;
    width: fit-content;

    margin-left: auto;
    margin-right: 10px;

    font-size: 0.75rem;
    color: #7D7D7D;

    &Last {
        @extend .displayHour;

        height: fit-content;
    }
}

.weekDay {
    height: 100%;

    &Solo {
        @extend .weekDay;

        grid-column: 2 / 9;
    }
}

.dayHeader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 80px;
    width: inherit;
    
    background-color: white;
    z-index: 2;
}

.dayDate {
    font-size: 0.9rem;
    font-weight: 100;

    margin-bottom: 5px;
}

.dayName {
    font-size: 1.2rem;
    font-weight: 300;

    &Today {
        @extend .dayName;
        font-weight: 600;
    }
}

.clickableArea {
    position: relative;
    height: calc(($quarterHeight + 0.25px) * 24 * 4);
    width: 100%;

    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;

    margin-top: 80px;

    &Top {
        height: 16px;
        width: 100%;
        border-right: 1px solid #D9D9D9;
    }
}

.clickableAreaFirst {
    @extend .clickableArea;
    border-left: 1px solid #D9D9D9;

    &Top {
        @extend .clickableAreaTop;
        border-left: 1px solid #D9D9D9;
    }
}

.hour {
    border-bottom: 1px solid #D9D9D9;
}

.quarterDivider {
    height: $quarterHeight;

    user-select: none;
}

.hourHighlighted {
    background-color: red;
}

.eventWrapper {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 3px;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    border-radius: 5px;

    user-select: none;

    &Time {
        font-weight: 700;
        color: white;
    }

    &Name {
        font-size: 300;
        letter-spacing: 1px;
        color: white;
    }

    &:hover {
        cursor: pointer;
    }

    &Small {
        @extend .event;
        flex-direction: row;
        justify-content: flex-start;

        .eventTime {
            margin: 0 20px 0 10px;

            font-size: 0.7rem;
        }

        .eventName {
            font-size: 0.7rem;
        }
    }

    &Plan {
        opacity: 0.5;
    }
}

.eventPlaceholder {
    @extend .event;

    &:hover {
        cursor: grabbing;
    }

    background-color: #99C1F1;
    opacity: 0.5;
}

.panel {
    position: absolute;

    margin-left: 210px;

    height: fit-content;
    width: 300px;

    padding: 10px 15px;

    border-radius: 5px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 20;

    &Mobile {
        @extend .panel;
        top: -130px;

        margin-left: 0;
    }

    &Left {
        left: -310px;
        margin-left: 0;
    }

    &Control {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &Side {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 45px;
        }
    }

    &Type {
        border: none;
        border-bottom: 1px solid #7D7D7D;

        font-size: 1.1rem;
        background: transparent;

        &:hover {
            cursor: pointer;
        }
    }

    &Time {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin-top: 10px;

        &Input {
            margin-left: 10px;
            width: 80px;

            border: none;
            border-bottom: 1px solid #7D7D7D;

            font-size: 0.9rem;
            background: transparent;

            &:focus {
                outline: none;
            }
        }

        &From {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-center;
        }

        &To {
            @extend .panelTimeFrom;

            margin-left: 20px;
        }
    }

    &Plan {
        filter: invert(91%) sepia(0%) saturate(19%) hue-rotate(201deg) brightness(88%) contrast(99%);

        &:hover {
            cursor: pointer;
            filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(97%) contrast(89%);
        }

        &Active {
            filter: invert(40%) sepia(100%) saturate(2780%) hue-rotate(188deg) brightness(99%) contrast(108%);

            &:hover {
                cursor: pointer;
            }
        }
    }

    &Delete {
        height: fit-content;
        width: fit-content;

        filter: invert(13%) sepia(91%) saturate(7500%) hue-rotate(7deg) brightness(99%) contrast(118%);

        &:hover {
            cursor: pointer;
        }
    }
}

.eventBody {
    margin-top: 10px;
    padding-top: 10px;

    border-top: 1px solid #CDCDCD
}

.taskSelect {
    border: none;
    border-bottom: 1px solid #7D7D7D;

    font-size: 0.9rem;
    background: transparent;

    &:hover {
        cursor: pointer;
    }
}

.entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.key {
    font-variant: small-caps;
    font-weight: 700;
    color: #7D7D7D;
}

$theRed: rgb(255, 0, 0);

.currentLine {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $theRed;

    &Inner {
        position: relative;
        height: 100%;
        width: 100%;
    }
}

.currentLineDot {
    $radius: 15px;
    position: absolute;
    top: calc(($radius / 2) - $radius + 1.5px);
    left: calc(($radius / 2) - $radius);
    height: $radius;
    width: $radius;

    border-radius: $radius;

    background-color: $theRed;
}