.chartContainer {
    height: 97%;
    width: 100%;

    padding: 20px;
}

.tasks {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.task {
    margin: 0 10px;

    font-size: 1.25rem;
    font-variant: small-caps;
    font-weight: 500;
    letter-spacing: 1px;

    user-select: none;

    &:hover {
        cursor: pointer;
    }

    &Selected {
        color: #008BFF;
    }
}