@mixin phone-only {
    @media (max-width: 700px) {
        @content;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;

    padding: 10px 30px;

    @include phone-only {
        height: fit-content;
        padding: 20px;
    }
}

.button {
    position: fixed;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    margin-left: auto;

    border-radius: 1000px;

    font-size: 0rem;
    background-color: #A3A3A3;
    color: white;

    user-select: none;
    z-index: 52;
    transition: left 500ms cubic-bezier(.46, .03, .52, .96);

    &Close {
        @extend .button;
        left: calc(200px - 20px);

        @include phone-only {
            left: calc(100vw - 30px);
        }
    }

    &Open {
        @extend .button;
        left: -10px;
        border-left: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.buttonText {
    transition: transform 500ms cubic-bezier(.46, .03, .52, .96);
    

    &Close {
        @extend .buttonText;
    }

    &Open {
        @extend .buttonText;
        transform: scaleX(-1);
    }
}