@mixin phone-only {
    @media (max-width: 700px) {
        @content;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;

    padding: 10px 50px;

    @include phone-only {
        height: fit-content;
        padding: 20px;
    }
}

.button {
    position: fixed;
    top: 50%;
    height: 60px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;

    border: 2px solid #CDCDCD;

    background-color: white;
    user-select: none;
    z-index: 100;

    &Close {
        @extend .button;
        right: calc(100vw - 180px);
        border-right: 0;
        border-radius: 10px 0 0 10px;
    }

    &Open {
        @extend .button;
        left: 0;
        border-left: 0;
        border-radius: 0 10px 10px 0;
    }

    &:hover {
        cursor: pointer;
        background-color: darken(white, 1);
    }
}

.buttonText {
    padding-bottom: 4px;

    font-size: 2rem;
    font-weight: 700;
    color: #CDCDCD;
}

@media screen and (max-width: 700px) {
    .buttonClose {
        right: 0;
    }
}