@mixin phone-only {
    @media (max-width: 700px) {
        @content;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;

    padding: 10px 30px;

    @include phone-only {
        height: fit-content;
        padding: 20px;
    }
}

.button {
    position: fixed;
    top: 50%;
    height: 60px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;

    background-color: white;
    user-select: none;
    z-index: 52;

    &Close {
        @extend .button;
        left: calc(180px - 40px);
        border-radius: 10px 0 0 10px;

        @include phone-only {
            left: calc(100vw - 40px);
        }
    }

    &Open {
        @extend .button;
        left: 0;
        border-left: 0;
        border-radius: 0 10px 10px 0;
    }

    &:hover {
        cursor: pointer;
        background-color: darken(white, 1);
    }

    @include phone-only {
        top: 15px;

        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1625);
    }
}

.buttonText {
    padding-bottom: 4px;

    font-size: 2rem;
    font-weight: 700;
    color: #CDCDCD;
}