.grid {
    display: grid;
    gap: 20px;
    grid-template-rows: 250px 250px 250px;
    grid-template-columns: repeat(4, 370px);
}

.gridItem {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    padding: 15px;
    padding-right: 0;

    background-color: white;

    border-radius: 10px;
}

.itemTasks {
    grid-column: 2 / span 1;
    grid-row: 1 / 3
}

.itemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-right: 15px;
}

.addButton {
    padding: 0px 15px;

    border-radius: 5px;

    font-size: 2rem;
    line-height: 2rem;
    background-color: #008BFF;
    color: white;

    &:hover {
        background-color: darken(#008BFF, 3);

        cursor: pointer;
    }
}

.itemTitle {
    width: fit-content;

    font-size: 18px;
    font-weight: 500;
}

.itemList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 10px;
    padding-right: 10px;

    overflow-y: scroll;
}

.listHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 5px;

    font-variant: small-caps;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #C4C4C4;
}

$taskHeight: 13px;

.task {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: fit-content;
    width: 100%;

    padding-right: 10px;
}

.taskName {
    flex-grow: 1;

    margin-right: 20px;
    padding: calc($taskHeight / 2 - 0.5px) 0;

    font-size: 1rem;

    border: none;
    border-bottom: 1px solid transparent;
    outline: none;

    &:hover, &:focus {
        border-bottom: 1px solid #CDCDCD;
    }

}

.pub {
    height: 100%;

    margin-right: 30px;
    padding: calc($taskHeight / 2) 5px;

    &:hover {
        cursor: pointer;
        filter: none;
    }

    &False {
        @extend .pub;
        filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(82%) contrast(91%);
    }
}

.taskDelete {
    margin-left: auto;
    padding: calc($taskHeight / 2 - 1.5px) 0;
}

.taskDelete:hover {
    cursor: pointer;

    filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(82%) contrast(91%);
}

.checklist {
    @extend .task;
}

.checklistName {
    @extend .taskName;
}

.checklistDelete {
    margin-left: auto;

    @extend .taskDelete;
}